<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseCrank.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseCrank.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MouseCrank.User>
            <setting name="SensitivityX" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SensitivityY" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ToggleKey" serializeAs="String">
                <value>Caps Lock</value>
            </setting>
            <setting name="CurveX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CurveY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
        </MouseCrank.User>
    </userSettings>
    <applicationSettings>
        <MouseCrank.User>
            <setting name="SensitivityX_Default" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SensitivityY_Default" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="CurveX_Default" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CurveY_Default" serializeAs="String">
                <value>50</value>
            </setting>
        </MouseCrank.User>
    </applicationSettings>
</configuration>